absl-py
aiohttp==3.7.4.post0
antlr4-python3-runtime
anykeystore==0.2
apex==0.9.10.dev0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
autopep8==2.0.2
backcall==0.2.0
beautifulsoup4==4.11.1
bitarray==2.5.1
black==19.10b0
bleach==5.0.1
blinker==1.4
blobfile==2.0.0
boto3==1.17.33
botocore==1.20.33
brotlipy==0.7.0
cachetools==5.2.0
certifi==2020.12.5
cffi
cfgv==3.2.0
chardet
click
cloudpickle==1.6.0
configparser==5.0.2
contourpy==1.0.5
coverage==5.5
cryptacular==1.6.2
cryptography
cycler==0.11.0
Cython==0.29.22
DALL-E==0.1
dask==2.30.0
dask-jobqueue==0.7.0
dataclasses==0.6
datasets==2.13.1
debugpy==1.6.3
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.1
distributed==2.30.1
docker-pycreds==0.4.0
editdistance==0.5.3
einops==0.6.1
entrypoints==0.3
executing==1.0.0
fairscale==0.4.3
fairtask==1.1.0
fairtask-slurm==0.3.1
fancy-einsum==0.0.3
fastBPE==0.1.0
fastjsonschema==2.16.1
filelock==3.0.12
flake8==3.7.9
flatbuffers==1.12
fonttools==4.37.4
fsspec==2023.6.0
future==0.18.2
gast==0.4.0
gdown==4.6.0
ghstack==0.4.1
gitdb==4.0.5
GitPython==3.1.14
google-auth==2.8.0
google-auth-oauthlib
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.46.3
h5py==3.7.0
HeapDict==1.0.1
huggingface-hub==0.16.4
hupper==1.10.3
hydra-core==1.0.7
hydra-fair-cluster==1.0.0
hydra-fair-plugins==1.0.0
hydra-fairtask==1.0.0
hydra-submitit-launcher==1.1.0
identify==2.2.0
idna
importlib-resources
iopath==0.1.6
ipdb==0.13.7
ipykernel==6.15.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isort==5.6.4
jaxtyping==0.2.19
jedi==0.18.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jsonlines==3.1.0
jsonschema==4.16.0
jupyter==1.0.0
jupyter-client==7.3.5
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kaleido==0.2.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==14.0.1
lxml==4.9.1
Markdown
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
mistune==2.0.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.7.0
mpi4py==3.0.3
msgpack==1.0.2
multidict==5.1.0
multiprocess==0.70.14
mypy==0.790
mypy-extensions==0.4.3
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.5.0
nest-asyncio==1.5.5
nodeenv==1.5.0
notebook==6.4.12
numpy==1.22.3
oauthlib
omegaconf==2.0.6
opt-einsum==3.3.0
packaging==20.9
pandas==1.4.4
pandocfilters==1.5.0
parameterized==0.8.1
parso==0.8.1
PasteDeploy==2.1.1
pathspec==0.8.1
pathtools==0.1.2
pbkdf2==1.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pkgutil-resolve-name==1.3.10
plaster==1.0
plaster-pastedeploy==0.7
plotly==5.18.0
pluggy==0.13.1
portalocker==2.0.0
pre-commit==2.11.1
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.17
protobuf==3.15.6
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.11.0
pycparser
pycryptodomex==3.16.0
pydantic==1.8.1
pyflakes==2.1.1
Pygments==2.15.1
PyJWT
pyOpenSSL
pyparsing==2.4.7
pyperclip==1.8.2
pyramid==2.0
pyramid-mailer==0.15.1
pyrsistent==0.18.1
PySocks
pytest==5.4.1
pytest-cov==2.10.0
pytest-mpi==0.4
pytest-timeout==1.4.2
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.2.1
PyYAML==5.4.1
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
regex==2021.3.17
remote-pdb==2.1.0
repoze.sendmail==4.4.1
requests
requests-oauthlib
rich==13.4.2
rsa
s3transfer==0.3.6
sacrebleu==1.5.1
sacremoses==0.0.43
safetensors==0.3.1
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
sentencepiece==0.1.99
sentry-sdk==1.0.0
setproctitle==1.2.3
shortuuid==1.0.1
six
sklearn==0.0.post1
smmap==3.0.5
sortedcontainers==2.3.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
stack-data==0.5.0
submitit==1.3.0
subprocess32==3.5.4
subword-nmt==0.3.7
tabulate==0.8.10
tblib==1.7.0
tenacity==8.2.3
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit
tensorboardX==2.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
torch==1.12.0
torchaudio==0.12.0
torchvision==0.13.0
tornado==6.2
tqdm==4.65.0
traitlets==5.4.0
transaction==3.0.1
transformers @ git+https://github.com/huggingface/transformers@3d8697261e8ec98831800442e788dabb9217f2f2
translationstring==1.4
typed-ast==1.4.2
typeguard==3.0.2
typing-extensions==4.7.1
urllib3
velruse==1.1.1
venusian==3.0.0
virtualenv==20.4.3
wandb==0.15.12
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.7
Werkzeug
widgetsnbextension==4.0.3
wrapt==1.14.1
WTForms==3.0.1
wtforms-recaptcha==0.3.2
xxhash==3.2.0
yarl==1.6.3
zict==2.0.0
zipp
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
tensorboardX==2.6.2.2
